# House Price Prediction Project

In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('Downloads/kc_house_data.csv')

# Display basic information
print(data.info())
print(data.describe())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB
None
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21611.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.396095     291.509045   1971.005136     84.402258
std        1.175459    828.128162     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000
           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7      1180.0              0
1      7242     2.0           0     0  ...      7      2170.0            400
2     10000     1.0           0     0  ...      6       770.0              0
3      5000     1.0           0     0  ...      7      1050.0            910
4      8080     1.0           0     0  ...      8      1680.0              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [2]:
# Handle missing values
data = data.dropna()

# Remove duplicates
data = data.drop_duplicates()

# Convert categorical columns to numerical using one-hot encoding
data = pd.get_dummies(data, columns=['zipcode'], drop_first=True)

print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 21611 entries, 0 to 21612
Data columns (total 89 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21611 non-null  int64
 1   date           21611 non-null  object
 2   price          21611 non-null  float64
 3   bedrooms       21611 non-null  int64
 4   bathrooms      21611 non-null  float64
 5   sqft_living    21611 non-null  int64
 6   sqft_lot       21611 non-null  int64
 7   floors         21611 non-null  float64
 8   waterfront     21611 non-null  int64
 9   view           21611 non-null  int64
 10  condition      21611 non-null  int64
 11  grade          21611 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21611 non-null  int64
 14  yr_built       21611 non-null  int64
 15  yr_renovated   21611 non-null  int64
 16  lat            21611 non-null  float64
 17  long           21611 non-null  float64
 18  sqft_living15  21611 non-null  int64
 19  sqft_lot15     21611 non-null  int64
 20  zipcode_98002  21611 non-null  bool
 21  zipcode_98003  21611 non-null  bool
 22  zipcode_98004  21611 non-null  bool
 23  zipcode_98005  21611 non-null  bool
 24  zipcode_98006  21611 non-null  bool
 25  zipcode_98007  21611 non-null  bool
 26  zipcode_98008  21611 non-null  bool
 27  zipcode_98010  21611 non-null  bool
 28  zipcode_98011  21611 non-null  bool
 29  zipcode_98014  21611 non-null  bool
 30  zipcode_98019  21611 non-null  bool
 31  zipcode_98022  21611 non-null  bool
 32  zipcode_98023  21611 non-null  bool
 33  zipcode_98024  21611 non-null  bool
 34  zipcode_98027  21611 non-null  bool
 35  zipcode_98028  21611 non-null  bool
 36  zipcode_98029  21611 non-null  bool
 37  zipcode_98030  21611 non-null  bool
 38  zipcode_98031  21611 non-null  bool
 39  zipcode_98032  21611 non-null  bool
 40  zipcode_98033  21611 non-null  bool
 41  zipcode_98034  21611 non-null  bool
 42  zipcode_98038  21611 non-null  bool
 43  zipcode_98039  21611 non-null  bool
 44  zipcode_98040  21611 non-null  bool
 45  zipcode_98042  21611 non-null  bool
 46  zipcode_98045  21611 non-null  bool
 47  zipcode_98052  21611 non-null  bool
 48  zipcode_98053  21611 non-null  bool
 49  zipcode_98055  21611 non-null  bool
 50  zipcode_98056  21611 non-null  bool
 51  zipcode_98058  21611 non-null  bool
 52  zipcode_98059  21611 non-null  bool
 53  zipcode_98065  21611 non-null  bool
 54  zipcode_98070  21611 non-null  bool
 55  zipcode_98072  21611 non-null  bool
 56  zipcode_98074  21611 non-null  bool
 57  zipcode_98075  21611 non-null  bool
 58  zipcode_98077  21611 non-null  bool
 59  zipcode_98092  21611 non-null  bool
 60  zipcode_98102  21611 non-null  bool
 61  zipcode_98103  21611 non-null  bool
 62  zipcode_98105  21611 non-null  bool
 63  zipcode_98106  21611 non-null  bool
 64  zipcode_98107  21611 non-null  bool
 65  zipcode_98108  21611 non-null  bool
 66  zipcode_98109  21611 non-null  bool
 67  zipcode_98112  21611 non-null  bool
 68  zipcode_98115  21611 non-null  bool
 69  zipcode_98116  21611 non-null  bool
 70  zipcode_98117  21611 non-null  bool
 71  zipcode_98118  21611 non-null  bool
 72  zipcode_98119  21611 non-null  bool
 73  zipcode_98122  21611 non-null  bool
 74  zipcode_98125  21611 non-null  bool
 75  zipcode_98126  21611 non-null  bool
 76  zipcode_98133  21611 non-null  bool
 77  zipcode_98136  21611 non-null  bool
 78  zipcode_98144  21611 non-null  bool
 79  zipcode_98146  21611 non-null  bool
 80  zipcode_98148  21611 non-null  bool
 81  zipcode_98155  21611 non-null  bool
 82  zipcode_98166  21611 non-null  bool
 83  zipcode_98168  21611 non-null  bool
 84  zipcode_98177  21611 non-null  bool
 85  zipcode_98178  21611 non-null  bool
 86  zipcode_98188  21611 non-null  bool
 87  zipcode_98198  21611 non-null  bool
 88  zipcode_98199  21611 non-null  bool
dtypes: bool(69), float64(6), int64(13), object(1)
memory usage: 4.9+ MB
None

In [3]:
# Feature engineering: Create new features
data['age'] = 2024 - data['yr_built']
data['renovated'] = (data['yr_renovated'] > 0).astype(int)

# Select features and target variable
features = data.drop(columns=['price', 'date', 'id', 'yr_built', 'yr_renovated'])
target = data['price']

print(features.head())
print(target.head())

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
0         3       1.00         1180      5650     1.0           0     0
1         3       2.25         2570      7242     2.0           0     0
2         2       1.00          770     10000     1.0           0     0
3         4       3.00         1960      5000     1.0           0     0
4         3       2.00         1680      8080     1.0           0     0

   condition  grade  sqft_above  ...  zipcode_98155  zipcode_98166  \
0          3      7      1180.0  ...          False          False
1          3      7      2170.0  ...          False          False
2          3      6       770.0  ...          False          False
3          5      7      1050.0  ...          False          False
4          3      8      1680.0  ...          False          False

   zipcode_98168  zipcode_98177  zipcode_98178  zipcode_98188  zipcode_98198  \
0          False          False           True          False          False
1          False          False          False          False          False
2          False          False          False          False          False
3          False          False          False          False          False
4          False          False          False          False          False

   zipcode_98199  age  renovated
0          False   69          0
1          False   73          1
2          False   91          0
3          False   59          0
4          False   37          0

[5 rows x 86 columns]
0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Initialize and train the model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Predict and evaluate the model
y_pred = model.predict(X_test)

In [5]:
from sklearn.metrics import mean_squared_error, r2_score

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 18662193337.724213
R^2 Score: 0.8750868545685662

In [6]:
from sklearn.model_selection import RandomizedSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize RandomizedSearchCV
random_search = RandomizedSearchCV(estimator=model, param_distributions=param_grid, n_iter=10, cv=3, random_state=42, n_jobs=-1)
random_search.fit(X_train, y_train)

# Get the best model
best_model = random_search.best_estimator_

# Predict and evaluate the optimized model
y_pred_optimized = best_model.predict(X_test)
mse_optimized = mean_squared_error(y_test, y_pred_optimized)
r2_optimized = r2_score(y_test, y_pred_optimized)

print(f'Optimized Mean Squared Error: {mse_optimized}')
print(f'Optimized R^2 Score: {r2_optimized}')

Optimized Mean Squared Error: 18398552543.306995
Optimized R^2 Score: 0.8768515025013537

In [7]:
import joblib

# Save the model
joblib.dump(best_model, 'home_value_model.pkl')

# Load the model
loaded_model = joblib.load('home_value_model.pkl')

# Use the loaded model for predictions
new_predictions = loaded_model.predict(X_test)